<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="templates/STAR.png">
    <title>...LOGIN...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-login.css') }}">
</head>
<body>
    <center>
        <div class="conta">
            <form method="POST" action="{{ url_for('login') }}">
                <h1>WELCOME</h1>
                <label>Username</label>
                <br>
                <input type="text" name="username">
                <br>
                <label>Password</label>
                <br>
                <input type="password" name="password">
                <br>
                <button type="submit">LOGIN</button>
                <p>Belum memiliki akun? <a href="{{ url_for('register') }}">Register</a></p>
            </form>
        </div>
    </center>
    <center>
    <p style="font-size: 14px; font-family: Cambria;">22.83.0797 | 22.83.0781 | 22.83.0808 | 22.83.0896</p>
</center>
</body>
</html>

