<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="STAR.png">
    <title>..REGISTER..</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-login.css') }}">
</head>
<body>
    <center>
        <div class="conta">
            <form method="POST">
                <h1>REGISTER</h1>
                <label>Username</label>
                <br>
                <input type="text" name="username" required>
                <br>
                <label>Email</label>
                <br>
                <input type="email" name="email" required> <!-- Tambahkan input email -->
                <br>
                <label>Password</label>
                <br>
                <input type="password" name="password" required>
                <br>
                <button type="submit">REGISTER</button>
            </form>
            <!-- Tautan ke halaman login -->
            <p>Sudah memiliki akun? <a href="{{ url_for('home') }}">Login disini</a></p>
        </div>
    </center>
    <center>
        <p style="font-size: 14px; font-family: Cambria;">22.83.0797 | 22.83.0781 | 22.83.0808 | 22.83.0896</p>
    </center>
</body>
</html>
